<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cursoandroid.centralpet.centralpet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.tela_menu" />
        <activity
            android:name=".activity.CadastroAgenda"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SalvosAgenda"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.Vacinas" />
        <activity
            android:name=".activity.Suporte"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.Duvidas_freq" />
        <activity android:name=".activity.Alimentacao" />
        <activity android:name=".activity.Vacinas_Dog" />
        <activity android:name=".activity.Vacinas_Cat" />
        <activity android:name=".activity.MeusPets" />
        <activity android:name=".activity.MeusPetsCad" />

    </application>

</manifest>